.container-item{
    display: flex; /* Usa flexbox */
    min-width: 288px;
    /*max-width: 900px;*/
    min-height: 50px;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin: 0 3rem 2rem 3rem;
    text-align: center; /* Asegura que el texto también se centre */
    border-radius: .5rem ;
    background-color: rgba(219, 218, 218, .7);
}
    
.container-item li{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
}

.item{
    flex: 1;
    padding-bottom: .5rem;
}

.container-item .item-checkbox{
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
}
.container-item .item-checkbox--active{
    color: rgb(37, 216, 37);
}

.container-item .item-text{
    font-size: 1.8rem;
}

.container-item .item-text-completed{
    text-decoration: line-through black .2rem;
}

.container-item .item-delete{
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;
}

.container-item .item-delete:hover{
    color: red;
}